.md-typeset code a:not([class]) {
    /* links in code blocks */

    color: inherit;
    text-decoration: none;
    font-style: italic;
}

.md-typeset code a:not([class]):hover {
    /* links in code blocks hover */

    text-decoration: underline;
}

.api-badge {
    /* badge */

    font-family: var(--md-code-font-family);

    border-radius: .2rem;
    font-size: .85em;
    padding: .25em .4em;
}

.api-badge-cls {
    /* badge for classes */

    background-color: #e8eaf6;
    color: #3f51b5;
}
.api-badge-def {
    /* badge for functions */

    background-color: #e8f5e9;
    color: #2e7d32;
}

[data-md-color-scheme="slate"] .api-badge-cls {
    /* badge for classes dark mode */

    background-color: hsl(238, 27%, 10%);
    color: #c5cae9;
}
[data-md-color-scheme="slate"] .api-badge-def {
    /* badge for function dark mode */

    background-color: hsl(124, 27%, 10%);
    color: #c8e6c9;
}
